/*centers text in jumbotron*/
.container .jumbotron {
	text-align: center;
}

/*adds padding to crystal images*/
img {
	padding: 20px;
}

/*adds a margin to space the buttons apart and remove the borders to match the jumbotron*/
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
	margin-left: 20px;
	border: 0px;
}

/*removes the left margin on the left button*/
button#rectangleButton.btn.btn-default.btn-lg.active {
	margin-left: 0px;
}

/*changes modal header color to match color scheme of page, border radius change gives rounded edges*/
.modal-header {
	background-color: #dddddd;
	border-radius: 6px 6px 0px 0px;
}

/*allows me to vertically align the modal to my liking*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 71%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}